html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Стили для текста */

:root{
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #FFFFFF;
    --background-color: #e5e5e5;
}

.text-h2{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}
.text-h3{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.text-h4{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.text-p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.text-p-reviews{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

/* Шапка сайта */
.header {
    min-height: 740px;
    background-image: url(../img/first-screen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-bottom: 112px;
}
.logo {
    width: 60px;
    height: 60px;

}
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger_line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: var(--white-color);
    margin-bottom: 4px;
}

.burger_line:last-child{
    margin-bottom: 0;
}
.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto 18px;
    color: var(--white-color);
}
.h4 {
    font-weight: 400;
    max-width: 734px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto;
}
